//////////////////////////////////////
// COLORS
//////////////////////////////////////

//////////////////////////////////////
// BASE SETTINGS
//////////////////////////////////////
$base-font-size: 16px;

// Colors
$black: #000;
$white: #fff;
$light-grey: #ccc;
$grey: #4d4f53;
$purple: #002663;
$blue: #016990;
$blue-light: #3487a6;
$red: #c30;
$background-grey: #dcdcdc;
$background-highlight: #f9f9f9;
$link-selected-color: $red;


// Grid
$column-width: 30px;
$gutter-width: 10px;
$columns: 24;

// Pie
// $pie-behavior: url("css/PIE.htc");

// SVG Gradients for IE9 and some versions of Opera.
//$experimental-support-for-svg: true;