body {

	button {
		&:focus {
			outline: none;
		}
	}
	
	.bg-white {
		background-color: $white;
	}

	.bg-koala {
		background-color: $koala;
	}

	.bg-grey {
		@include backgroundPattern('grey');
	}
	
	.bg-pattern-ws_15 {
		@include worldservicepattern(45);
	}

	.mobile-footer {
		display: none;
		background-color: $deepblue;
		text-align: center;
		z-index: 10000;
		bottom: 0;
		position: fixed !important;
		width:100%;
		a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 10px 0;
			letter-spacing:.04em;
			text-align: center;
			color: $white;
			@include text-shadow(0 1px 1px rgba(0,0,0,.75));
			text-decoration: none;
			text-transform: uppercase;
			@include font-size(12px,18px);
			&:focus {
				outline: thin dotted;
				background-color: #1d4f9c
			}
		}
		@include responsive(small) { 
			display: block;
		}
	}

	.main-container {
		margin: 0 auto;
		@include fluid-page($grid-columns,-4,true,false);
	}

	/***********************************/
	/* TYPOGRAPHY */
	/***********************************/
	@import 'gcp2/partials/type';


	/***********************************/
	/* SUBNAVIGATION */
	/***********************************/
	@import 'gcp2/partials/subnavigation';

	/***********************************/
	/* SOLUTION FINDER */
	/***********************************/
	@import 'gcp2/modules/solution-finder';



	.header .main-container.gsf-top {
		padding-top: 0;
		padding-bottom: 0;
	}
}

	.gsf-hero {
		position: relative;
		@include box-sizing(border-box);
		left: -407px;
		padding: 37px 150px 0 0;
		min-height: 338px;
		background: image-url('gcp2/bsf-background.png') right center no-repeat;

		@include bsfbox(12.5,white,right);

		@include clearfix;

		h2 {
			color: $white;
		}

		p {
			float: right;
			@include fluid(12.5);

			margin-top: 0;
		}

		@include responsive(lessthanlarge) {
			position: static;
			padding-right: 0;
			background: $white image-url('gcp2/bsf-background-responsive.png') left top no-repeat;

			p {
				@include fluid-column(19,0,$grid-columns,0,false);
				@include fluid-offset-left(1,23);
				float: none;
			}
		}

		@include responsive(small) {
			background: #a5b3b4;
		}
	}

	.gsf-q1 {
		position: absolute;
		top: 0;
		left: 989px;
		width: 405px;
		margin: 35px 0 0 0;

		color: #787878;

		h4 {
			@include font-benton-sans(medium);
		}

		small {
			@extend .body-2;
		}

		ul {
			list-style: none;
			margin: 15px 0;
			padding: 0;
		}

		li {
			@include font-benton-sans(regular);
			padding: 5px 15px;
			cursor: pointer;

			&.selected {
				@include font-benton-sans(medium);
				@include border-radius(8px);
				background: #006d8d;
				color: #fff;
			}
		}

		@include responsive(lessthanlarge) {
			@include fluid-column(22);
			@include fluid-offset-left(1);
			position: static;
			top: auto;
			left: auto;
			margin-top: 160px;
			background: $white;

			h4,
			small {
				@include fluid-column(14);
				display: block;
				float: none;
				margin-left: 0;
			}
		}

		@include responsive(small) {
			@include box-sizing(border-box);
			width: 100%;
			margin: 75px 0 0 0;
			padding-top: 10px;

			h4,
			small {
				width: auto;
				padding: 5px 15px;
			}
			h4 {
				padding-bottom: 0;
			}
			small {
				padding-top: 0;
			}

			ul li.selected {
				@include border-radius(0);
			}
		}
	}

	.gsf-mid-questions {
		display: none;
		padding-top: 55px;

		h2 {
			font-weight: normal;
		}

		small {
			@extend .body-2;
		}	
	}

	.gsf-submit {
		padding: 10px;

		text-align: right;

		a {
			padding: 5px 25px;
			background: $darkteal;
		}

		@include responsive(lessthanlarge) {
			@include fluid-column(22);
			@include fluid-offset-left(1);
			margin-top: 20px;
		}
	}


	.gsf-ques {
		position: relative; 
		right: 100%;
	}

	.gsf-q2 {
		@include clearfix;
		padding-top: 65px;

		.gsf-q2-q {
			@include fluid(8);
			float: left;

			h2, small {
				color: $sqrl;
			}
			@include responsive(lessthanlarge) {
				@include fluid-column(13);
				@include fluid-offset-left(1);
				@include fluid-offset-right(10);
			}
		}

		.gsf-q2-a {
			float: right;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				@include inline-block(bottom);
				@include box-sizing(border-box);

				color: #a5b3b4;
				font-size: 20px;
				text-align: center;

				cursor: pointer;

				&.selected,
				&:hover {
					color: $darkteal;
				}

				@include responsive(small) {
					font-size: 12px;
				}
			}
			#bsfQ2A1 {
				background: image-url('gcp2/bsf-building-1.png') bottom center no-repeat;
				width: 89px;
				$minHeight: 83px;
				min-height: $minHeight;
				padding-bottom: $minHeight + 10px;
				.oldie & {
					min-height: 0;
				}

				&.selected,
				&:hover {
					background: image-url('gcp2/bsf-building-1-hover.png') bottom center no-repeat;
				}

				@include responsive(small) {
					background: image-url('gcp2/bsf-building-small-1.png') bottom center no-repeat;
					width: 45px;
					$minHeight: 43px;
					min-height: $minHeight;
					padding-bottom: $minHeight + 10px;

					&.selected,
					&:hover {
						background: image-url('gcp2/bsf-building-small-1-hover.png') bottom center no-repeat;
					}
				}
			}
			#bsfQ2A2 {
				background: image-url('gcp2/bsf-building-2.png') bottom center no-repeat;
				width: 113px;
				$minHeight: 124px;
				min-height: $minHeight;
				padding-bottom: $minHeight + 10px;
				.oldie & {
					min-height: 0;
				}

				&.selected,
				&:hover {
					background: image-url('gcp2/bsf-building-2-hover.png') bottom center no-repeat;
				}

				@include responsive(small) {
					background: image-url('gcp2/bsf-building-small-2.png') bottom center no-repeat;
					width: 56px;
					$minHeight: 64px;
					min-height: $minHeight;
					padding-bottom: $minHeight + 10px;

					&.selected,
					&:hover {
						background: image-url('gcp2/bsf-building-small-2-hover.png') bottom center no-repeat;
					}
				}
			}
			#bsfQ2A3 {
				background: image-url('gcp2/bsf-building-3.png') bottom center no-repeat;
				width: 165px;
				$minHeight: 175px;
				min-height: $minHeight;
				padding-bottom: $minHeight + 10px;
				.oldie & {
					min-height: 0;
				}

				&.selected,
				&:hover {
					background: image-url('gcp2/bsf-building-3-hover.png') bottom center no-repeat;
				}

				@include responsive(small) {
					background: image-url('gcp2/bsf-building-small-3.png') bottom center no-repeat;
					width: 83px;
					$minHeight: 89px;
					min-height: $minHeight;
					padding-bottom: $minHeight + 10px;

					&.selected,
					&:hover {
						background: image-url('gcp2/bsf-building-small-3-hover.png') bottom center no-repeat;
					}
				}
			}
			#bsfQ2A4 {
				background: image-url('gcp2/bsf-building-4.png') bottom center no-repeat;
				width: 198px;
				$minHeight: 222px;
				min-height: $minHeight;
				padding-bottom: $minHeight + 10px;
				.oldie & {
					min-height: 0;
				}

				&.selected,
				&:hover {
					background: image-url('gcp2/bsf-building-4-hover.png') bottom center no-repeat;
				}

				@include responsive(small) {
					background: image-url('gcp2/bsf-building-small-4.png') bottom center no-repeat;
					width: 98px;
					$minHeight: 113px;
					min-height: $minHeight;
					padding-bottom: $minHeight + 10px;

					&.selected,
					&:hover {
						background: image-url('gcp2/bsf-building-small-4-hover.png') bottom center no-repeat;
					}
				}
			}

			@include responsive(lessthanlarge) {
				width: 100%;

				ul {
					margin-top: -15px;
					text-align: center;
				}
			}
		}
	}

	.gsf-q3 {
		$arrow: 110px;

		@include clearfix;

		.main-container {
			@include box-sizing(border-box);
			min-height: $arrow * 2;
			position: relative;
			background: #a5b3b4;

			text-align: right;
		}

		.gsf-q3-q {
			@include inline-block(top);
			@include fluid(6);
			padding: 40px 0 0 0;
			text-align: left;

			h2, small {
				color: $white;
			}
		}

		.gsf-q3-a {
			@include inline-block(top);
			padding: 30px 0;

			text-align: left;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			// text in circles
			// @url http://codepen.io/anon/pen/rhjxG
			li {
				@include font-benton-sans(bold);
				@include font-size(20px, 22px);
				@include inline-block;
				@include box-sizing(border-box);

				height: 160px;
				width: 160px;
				margin-left: 15px;
				padding: 30px 0px;
				border: 3px solid $white;
				@include border-radius(50%);

				color: $white;
				text-align: center;

				cursor: pointer;

				&.selected,
				&:hover {
					background: $background;
					border-color: $background;
					color: $darkteal;
				}
			}
		}

		.gsf-q3-q,
		.gsf-q3-a {
			@include responsive(lessthanlarge) {
				@include fluid-column(22);
				@include fluid-offset-left(1);
				display: block;
				float: none;
				ul {
					text-align: center;
				}
				li {
					@include font-size(16px, 20px);
					height: 130px;
					padding: 23px 0;
					width: 130px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}

		.block-left,
		.arrow-container {
			position: absolute;
			top: 0;
			height: $arrow * 2;
		}
		.block-left {
			background: #a5b3b4;
			right: 100%;
			width: 10000em;
		}
		.arrow-container {
			left: 100%;

			.arrow-right {
				@include arrow(right,$arrow,#a5b3b4);
			}

			@include responsive(lessthanlarge) {
				display: none;
			}
		}

		&.gsf-q3-with-submit {
			$arrow: 126px;

			.main-container {
				min-height: $arrow * 2;
			}

			.gsf-q3-a {
				padding-bottom: 0;
			}

			.block-left,
			.arrow-container {
				position: absolute;
				top: 0;
				height: $arrow * 2;
			}
			.block-left {
				background: #a5b3b4;
				right: 100%;
				width: 10000em;
			}
			.arrow-container {
				left: 100%;

				.arrow-right {
					@include arrow(right,$arrow,#a5b3b4);
				}

				@include responsive(lessthanlarge) {
					display: none;
				}
			}
		}
	}

	.gsf-q3-submit {
		@extend .gsf-submit;
		display: none;
		.gsf-q3-with-submit & {
			display: block;
		}
	}

	$listSpacing: 45px;

	.gsf-q4 {
		padding-bottom: 95px;

		h2 {
			@include font-size(24px);
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;		
		}

		li {
			margin-top: $listSpacing;

			.gsf-q4-a {
				color: #a0a0a0;
				font-size: 16px;

				strong,
				small {
					@include box-sizing(border-box);
					padding: 0 10px;
				}

				strong {
					text-transform: lowercase;

					cursor: pointer;

					&.selected {
						@include border-radius(10px);
						background: $darkteal;
						color: $white;
					}
				}
			}
		}

		@include responsive(small) {
			h2 {
				@include font-size(16px, 18px);
			}
		}
	}

	.gsf-q4-yesno {
		.gsf-q4-q,
		.gsf-q4-a {
			@include inline-block;
		}

		.gsf-q4-q {
			@include fluid(10);
			@include responsive(lessthanlarge) {
				@include fluid-column(22);
				@include fluid-offset-left(1);
				@include fluid-offset-right(1);
				margin-bottom: 20px;
			}
		}

		.gsf-q4-a {
			@include fluid(6);
			text-transform: uppercase;

			strong,
			small {
				@include inline-block;
			}

			strong {
				@include font-size(34px);
				@include responsive(small) {
					@include font-size(24px);
				}
			}

			@include responsive(lessthanlarge) {
				display: block;
				float: none;
				width: 100%;

				text-align: center;
			}
		}
	}

	.gsf-q4-multiplechoice {
		.gsf-q4-q,
		.gsf-q4-a {
			@include inline-block(top);
		}

		.gsf-q4-q {
			@include fluid(10);
			@include responsive(lessthanlarge) {
				@include fluid-column(22);
				@include fluid-offset-left(1);
				@include fluid-offset-right(1);
				margin-bottom: 20px;
			}
		}

		.gsf-q4-a {
			$padding: 10px;
			@include fluid(14);
			position: relative;

			@include responsive(lessthanlarge) {
				@include fluid-column(22);
				@include fluid-offset-left(1);
				@include fluid-offset-right(1);
				ul {
					text-align: center;
				}
			}

			ul {
				position: relative;
				top: ($padding / 2) * -1;
			}

			li {
				margin-top: 0;
				margin-bottom: $padding + 10px;

				strong {
					@include font-size(24px);
					padding: $padding 15px;

					@include responsive(small) {
						@include font-size(18px);
					}
				}
			}
		}
	}

	.gsf-q4-submit {
		@extend .gsf-submit;
		margin-top: $listSpacing;
	}

	.gsf-banner {
		@include font-benton-sans(light);
		@include font-size(60px);
		background: $darkteal;
		color: $white;
		padding: 25px 0 35px 0;
		text-align: center;

		+ .arrow-down {
			@include arrow(down,50px,$darkteal);
			border-top-width: 40px;
			display: block;
			margin: 0 auto;
		}

		@include responsive(small) {
			@include font-size(36px);
			+ .arrow-down {
				@include arrow(down,25px,$darkteal);
				border-top-width: 20px;
				display: block;
				margin: 0 auto;
			}
		}
	}

	.gsf-your-solution {
		display: none;

		@include clearfix;

		h4, strong {
			@extend .txt-darkteal;
		}

		.h-border {
			padding-bottom: 20px;
			border-bottom: 1px solid #b2d3dd;
		}

		.arrow-right {
			margin-left: 5px;
			@include arrow(right,5px,$darkteal);
		}

		@include responsive(lessthanlarge) {
			.content-block {
				width: auto;
				margin: 0;
			}

			.h-border,
			.gsf-rec-cards-svc {
				@include fluid-column(22);
				@include fluid-offset-left(1);
				float: none;
			}

		}
	}

	.gsf-summary-crumbs {
		@include clearfix;
		margin: 45px 0;
		border-top: 1px solid #b2d3dd;
		border-bottom: 1px solid #b2d3dd;

		strong {
			@include fluid(8);
			@include inline-block;
			@include font-benton-sans(regular);
			@include font-size(20px);
			text-transform: uppercase;
		}

		ul {
			@include fluid(16,0,$grid-columns,0,true);
			@include inline-block;
			list-style: none;
			padding: 0;
			
			li {
				@include inline-block;
				background: image-url('gcp2/bsf-crumb.png') left center no-repeat;
				max-width: fluid-column-width(7);
				padding: 10px 35px;

				color: $darkteal;
				font-size: 14px;
			}
		}

		@include responsive(lessthanlarge) {
			@include fluid-column(22);
			@include fluid-offset-left(1);
			float: none;
			margin-top: 30px;
			padding-top: 15px;
			strong,
			ul {
				display: block;
				width: auto;
			}
		}

		@include responsive(small) {
			ul li {
				display: block;
				width: auto;
				max-width: none;
			}
		}
	}

	.gsf-summary {
		@include fluid(20);
		margin: 0;

		p, li {
			@extend p;
			color: $darkteal;
			font-size: 18px;
		}

		@include responsive(lessthanlarge) {
			@include fluid-column(22);
			@include fluid-offset-left(1);
			margin-bottom: 30px;
			margin-top: 30px;
			float: none;
		}
	}

	.gsf-rec-cards-svc-container {
		position: relative;

		padding-bottom: 30px;
		border-bottom: 1px solid #b2d3dd;

		p {
			font-size: 13px;
		}

		.btn {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.gsf-rec-cards-svc {
		@include fluid(18);
		float: left;
		margin-bottom: 75px;

		@include responsive(lessthanlarge) {
			float: none;
			max-height: none;
		}
	}

	.gsf-cards-list {
		list-style: none;
		padding: 0;

		li {
			@include inline-block(top);
			@include fluid(11,0,$grid-columns,0,true);

			a {
				font-weight: bold;
				text-transform: uppercase;
			}

			@include responsive(large) {
				@include fluid-offset-right(0.5,0);
			}

			@include responsive(small) {
				display: block;
				width: auto;
			}
		}
	}

	.gsf-card-img {
		min-height: 0;
	}

	.gsf-right-rail {
		position: relative;
		z-index: 10;

		@include fluid(6);
		float: right;

		background: image-url('gcp2/bsf-right_rail_background.jpg') no-repeat;
		@include box-sizing(border-box);
		padding: 35px 25px;

		h4 {
			@extend .txt-white;
		}

		input {
			@include box-sizing(border-box);
			width: 100%;

			@include border-radius(4px);
			padding: 5px 10px;
			border: none;
		}

		@include responsive(lessthanlarge) {
			@include clearfix;
			float: none;
			width: auto;
			height: auto;
			padding-bottom: 155px;
			background: image-url('gcp2/bsf-right_rail_background-responsive.png') bottom center no-repeat;

			h4 {
				@include fluid(19);
			}

			.gsf-right-rail-copy-fields {
				@include clearfix;
				@include fluid(19);
				float: left;
			}

			.gsf-right-rail-copy,
			.gsf-right-rail-fields {
				@include fluid(11);
			}
			.gsf-right-rail-copy {
				float: left;
			}
			.gsf-right-rail-fields {
				float: right;
			}
		}

		@include responsive(small) {
			padding-bottom: 25px;

			h4 {
				width: auto;
			}

			.gsf-right-rail-copy-fields {
				@include clearfix;
				width: auto;
				float: none;
			}

			.gsf-right-rail-copy,
			.gsf-right-rail-fields {
				width: auto;
				float: none;
			}
		}
	}

	.gsf-form-result {
		display: none;
	}

	.gsf-cards-footer-container {
		display: none;

		position: absolute;
		bottom: 30px;
		z-index: 1;

		width: 100%;
		@include box-sizing(border-box);
		background: $darkteal;
		padding: 5px 10px;

		@include responsive(lessthanlarge) {
			position: static;
		}

		@include responsive(small) {
			padding-bottom: 15px;
		}
	}

	.gsf-cards-footer {
		@include fluid(18);

		h5 {
			@include fluid(18);
			@include inline-block;
			margin: 8px 0;

			@extend .txt-white;
		}

		a {
			float: right;
			margin: 10px 0;
		}

		@include responsive(lessthanlarge) {
			width: auto;
		}

		@include responsive(small) {
			h5 {
				display: block;
				width: auto;
			}

			a {
				float: none;
				margin: 0;
			}
		}
	}

	.gsf-bottom-cta {
		background: #eef5f5;
		margin-bottom: 100px;
		padding: 5px 10px;

		@extend .txt-darkteal;
	}

	#bsfSubmit {
		text-align: right;

		input {
			width: auto;
			height: 32px;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 34px;
		}

		@include responsive(lessthanlarge) {
			float: right;
		}

		@include responsive(small) {
			float: none;
		}
	}
	
@import 'gcp2/modules/breadcrumbs';