.nav-container {
	width: 100%;
	height: 45px;
	$experimental-support-for-svg: true;
	@include getNavigationColor();
	&.is-stuck {
		position: fixed;
		bottom: 0;
		z-index: 1000;
		margin-bottom: 0;
		// webkit redraw bugfix
		-webkit-transform: scale3d(1,1,1);
	}
	&.bottom-stuck {
		position: absolute;
		bottom: 0;
		z-index: 1000;
		margin-bottom: 0;
	}
	@include responsive('lessthanlarge') {
		@include getColor(4,'background-color');
	}
	@include responsive('small') {
		height: auto;
		&.is-stuck, &.bottom-stuck {
			position: static;
		}
	}
}

ul.navigation {
	@extend .rel;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	max-width: 980px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	@extend .clearfix;
	li {
		@extend .rel;
		float: left;
		margin: 0;
		height: 45px;
		@include getColor(4,'background-color');
		border-width: 0;
		border-style: solid;
		@include getColor(5,'border-color');
		border-right-width: 1px;
		a:first-of-type {
			@extend %inlineblock;
			width: 100%;
			height: 100%;
			padding: 0 35px;
			text-align: left;
			text-transform: uppercase;
			text-decoration: none;
			color: #FFF;
			@include font-size(14px,50px);
			span {
				display: inline-block;
				&.hide-from-nav {
					display: none;
				}
			}
			@include responsive('med') {
				padding: 0 28px;
			}
			&:focus {
				outline-width: thin;
				outline-style: dotted;
				@include getColor(5,'background-color');
				@include getColor(4,'outline-color');
			}
		}
		// :first-of-type doesn't work in old ie
		.oldie & {
			// hide navs...
			a {
				display: none;
			}
			// but show the first one tagged with first-of-type
			a.first-of-type {
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 0 35px;
				text-align: left;
				text-transform: uppercase;
				text-decoration: none;
				color: #FFF;
				@include font-size(12px,50px);
				span {
					display: inline-block;
					&.hide-from-nav {
						display: none;
					}
				}
				&:focus {
					outline-width: thin;
					outline-style: dotted;
					@include getColor(5,'background-color');
					@include getColor(4,'outline-color');
				}
			}
		}
		&.nav-promo {
			background: $white;
			@include getColor(4);
			margin-left: -50px;
			width: 180px;
			border-width: 0px;
			position: relative;
			padding-top: 0;
			img {
				position: absolute;
				margin-top: -41px;
				max-width: 80px;
				margin-left: 31px;
			}
			strong { 
				display: table-cell;
				@include font-size(9px,12px);
				text-align: center;
				@extend .all-caps;
				padding:3px 0 0;
				width: 180px;
				height: 45px;
				vertical-align: middle;
			}
			&:before {
				border: none;
				width: 0;
			}
			@include responsive('lessthanlarge') {
				display: none;
			}
		}
		&.selected, 
		&:hover {
			@include getColor(5,'background-color');
			@include single-box-shadow(rgba(0,0,0,.2), 0, 0, 5px, 3px, true);
			&.nav-promo {
				background: $white;
				@include single-box-shadow(#FFF, 0, 0, 0, 0, true);
			}
		}
		@include responsive('small') {
			width: 100%;
			float: none;
			padding: 5px;
			height: auto;
			a {
				@include font-size(12px, 30px);
				@include font-benton-sans('bold');
			}
		}
	}
}
 
select#language {
	border: 1px solid #a5b3b4;
	@include border-radius(3px);
	padding: 6px 16px;
	color: $crow;
	@include font-size(12px);
	@include font-benton-sans('regular');
	&:focus {
		outline-color: $lightteal;
	}
}