@mixin font-size($size: 16) {
	font-size: ($size)px;
	font-size: ($size / $base-font-size)rem;
}

@mixin content-block($width){
	width:$width;
	margin: 0 auto;
}

@mixin arrow($direction,$size,$color,$type:arrow){
	width: 0;
	height: 0;
	display: inline-block;
	$arrow: $size solid $color;
	$transp: $size solid transparent;
	@if ($type == arrow) { 
		@if ($direction == right) {
			border-top: $transp;
			border-bottom: $transp;
			border-left: $arrow;
		}
		@else if ($direction == left) {
			border-top: $transp;
			border-bottom: $transp;
			border-right: $arrow;
		}
		@else if ($direction == up) {
			border-left: $transp;
			border-right: $transp;
			border-bottom: $arrow;
		}
		@else if ($direction == down) {
			border-left: $transp;
			border-right: $transp;
			border-top: $arrow;
		}
	}
	@else if ($type == corner) {
		@if ($direction == bottomright) {
			border-bottom: $arrow;
			border-right: $arrow;
			border-left: $transp;
			border-top: $transp;
		}
		@else if ($direction == bottomleft) {
			border-bottom: $arrow;
			border-left: $arrow;
			border-right: $transp;
			border-top: $transp;
		}
		@else if ($direction == topleft) {
			border-left: $arrow;
			border-top: $arrow;
			border-right: $transp;
			border-bottom: $transp;
		}
		@else if ($direction == topright) {
			border-right: $arrow;
			border-top: $arrow;
			border-left: $transp;
			border-bottom: $transp;
		}
	}
}