/***********************************/
/* TYPOGRAPHY */
/***********************************/
@import 'gcp-platinum-card/partials/type';

.body {
	position: relative;
}
#main {
	background: #fcfaf7;
}
.main-container {
	margin: 0 auto;
	@include fluid-page($grid-columns,-4,true,false);
}

.bg-midgrey {
	@include backgroundPattern('midgrey');
}

.content-block {
	@include fluid-row(24);
	max-width: 980px;
	margin: 0px auto;
	@include responsive(med) {
		@include fluid-row(20);
		@include fluid-offset(1,0,right);
		@include fluid-offset(1,0,left);
	}
	@include responsive(small) {
		@include fluid-row(18);
		@include fluid-offset(2,0,right);
		@include fluid-offset(2,0,left);
	}
}

.inner-container {
	@extend .clearfix;
	@include fluid-offset-left(1);
	@include fluid-offset-right(1);
	@include responsive('med') {
		@include fluid-offset-left(3);
		@include fluid-offset-right(3);
		@include fluid-column(18,0,$grid-columns,0,false);
	}
	@include responsive('small') {
		@include fluid-offset-left(1);
		@include fluid-offset-right(1);
		@include fluid-column(22,0,$grid-columns,0,false);
	}
}

/******************/
/* BORDER HEADERS */
/******************/
.box {
	box-sizing: border-box;
	border-style: solid;
	border-width: 3px;
	padding: 16px 0;
	&.box-left, 
	&.box-empty-right {
		border-right-width: 0;
		padding-left: 25px;
	}
	&.box-right, 
	&.box-empty-left {
		border-left-width: 0;
		padding-right: 25px;
		@include responsive(small) {
			padding-right: 10px;
		}
	}
}
.box-koala {
	border-color: $koala;
}
.box-extender {
	border-style: solid;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.extender {
	position: relative;
}

.extend-item {
	display: none;
	top: 0px;
	bottom: 0px;
	position: absolute;
	&.box-extender {
		top: -3px;
		bottom: -3px;
	}
}

// Disclaimer Text
.section-additional-text, 
.lpdn-additional-text, 
.promo-group-additional-text {
	clear: both;
	@include fluid-page(24);
	margin: 0 auto;
	margin-top: 40px;
	text-align: right;
	p {
		@include fluid-column(16,0,$grid-columns,0,true);
		@include fluid-offset-left(8);
		font-size: 13px;
		margin-bottom: 10px;
		a.btn {
			@include btn($deepblue,#1d4f9c,$white,small);
			@include font-benton-sans('light');
			font-size: 13px;
			margin-bottom: 10px;
		}
	}
	@include responsive('lessthanlarge') {
		@include fluid-column(22,0,$grid-columns,0,true);
		margin-top: 20px;
		@include fluid-offset-left(1);
		text-align: right;
		p {	
			@include fluid-column(22,0,22,0,true);
			@include fluid-offset-left(0);
			margin-bottom: 10px;
		}
	}
}

.promo-group-additional-text {
	// the additional text should have no margin-top;
	// the promo group will have the margin-bottom to compensate
	margin-top: 0;
	p {
		color: #000;
		padding-right: 20px;
	}
	a.btn {	
		@include btn($deepblue,#1d4f9c,$white,small);
		@include font-size(13px);
		@include font-benton-sans('light');
		margin: 0 20px 15px 0;
	}
	@include responsive('lessthanlarge') {
		@include fluid-column(21,0,22,0,false);
		margin-top: 20px;
		text-align: right;
		a.btn, 
		p {
			@include fluid-offset-right(1);
		}
	}
}

.lpdn-additional-text {
	margin-bottom: 100px;
}

/***********************************/
/* SUBHEADING */
/***********************************/
@import 'gcp-platinum-card/partials/subheading';


/***********************************/
/* PAGE HERO */
/***********************************/
.header-hero {
	@extend .clearfix;
	min-height: 546px;
	.oldie & {
		height: 546px;
	}
	background-repeat: no-repeat;
	background-position: bottom;
	@include responsive('med') {
		background-position: bottom;
		padding: 0 0 35px 0;
	}
	@include responsive('small') { 
		padding: 0;
		min-height: 0;
	}
	.main-container {
		margin-top: 105px;
		@include responsive('med') {
			margin-top: 110px;
		}
		@include responsive('small') {
			margin: 0;
			background-color: $plat1;
			min-height: 0;
		}
	}
	.inner-container {
		@include fluid-column(13,0,$grid-columns,0,false);
		@include fluid-offset-left(0);
		background-color: $plat1;
		@include responsive('med') {
			@include fluid-column(16,0,$grid-columns,0,false);
		}
		@include responsive('small') {
			padding: 0 0 45px 0;
			width: 100%;
			float: none;
			margin: 0;
		}

		.media {
			margin-top: -85px;
			margin-left: -15px;
			@include responsive('med') {
			}
			@include responsive('small') {
				width: 100%;
				text-align: center;
				margin: 40px 0;
			}
			
			@include max-screen(400px){
				img {
					max-width: 250px;
				}
			}
		}
		.content {
			margin: 30px 0;
			@include clearfix();
			@include fluid-column(12,0,13,0,false);
			@include fluid-offset-left(1);
			h1 {
				@extend .h5;
				@extend .all-caps;
				color: #000;
				margin-bottom: 10px;
			}
			h2 {
				@extend .h1;
				color: $white;
				margin-bottom: 10px;
			}
			p {
				color: $white;
			}
			a.cta {
				@extend .all-caps;
				@include font-benton-sans('medium');
				letter-spacing: .025em;
				color: #000;
			}
			@include responsive('med') {
				@include fluid-column(16,0,18,0,false);
				@include fluid-offset-left(2);
			}
			@include responsive('small') {
				@include fluid-column(22,0,$grid-columns,0,false);
				@include fluid-offset-left(1);
			}
			@include max-screen(400px){
				h1 {
					@include font-size(11px,14px);
				}
			}
		}
	}
}

/***********************************/
/* SECTION HEROES */
/***********************************/
.hero {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $white;
	height: 300px;
	@include responsive('large') {
		background-position: center center;
	}
	@include responsive('small') {
		height: 200px;
	}
}

/***********************************/
/* SUBPAGE HEROES */
/***********************************/
.hero-3 {
	@include responsive('large') {
		min-height: 240px;
		&.bg-darkteal {
			min-height: 0;
			.main-container {
				padding: 54px 0;
			}
		}
	}
	.oldie & {
		height: auto !important;
	}
}

.header {
	.hero-content {
		padding: 35px 0;
		@include fluid-column(16);
		h1 {
			@include font-benton-sans(bold);
			@include font-size(41px, 42px);
			color: $sqrl;
			letter-spacing: -.02em;
			margin: 0 0 25px 0;
			width: 100%;
			.ie7 & {
				margin-top: 0;
			}
			strong {
				display: block;
				@include font-benton-sans(regular);
				@include font-size(20px, 22px, 0, 41px);
				color: $darkteal;
				margin: 25px 0 0 0;
				width: 100%;
				letter-spacing: 0;
			}
		}

		@include responsive(med) {
			@include fluid-column(11);
			@include fluid-offset(1,0,left);
			h1 {
				@include font-size(36px, 38px);
				margin-top: 0;
				strong {
					@include font-size(18px, 20px, 0, 36px);
				}
			}
		}
		@include responsive(small) {
			@include fluid-column(20);
			@include fluid-offset(2,0,left);
			float: none;
			h1 {
				@include font-size(30px, 32px);
				margin-bottom: 15px;
				strong {
					@include font-size(14px, 16px, 0, 30px);
				}
			}
		}
		a.cta {
			@extend .btn;
			.icon-carat {
				display: none;
			}
		}
	}
}

/***********************************/
/* HEADINGS */
/***********************************/
.promo-featured-addtl-text, 
.tabbed-promo, 
.promo-group-content {
	@extend .clearfix;
	background-color: #e9e9e9;
	@include background-image(linear-gradient(top,color-stops(#cbcbcb, #dedede 15%, #e9e9e9 50%, #dedede 85%, #aeaeae 100%)));
	padding-bottom: 40px;
	&:last-of-type {
		padding-bottom: 80px;
	}
	h2, h3 {
		text-align: center;
		color: $grey;
	}
	h2 {
		color: $blue;
		padding-top: 66px;
		margin-bottom: 7px;
		@extend .h4;
		@include font-size(30px);
	}
	h3 {
		@extend .h1;
		margin: 0 auto 15px auto;
	}
	.body, 
	.headlines {
		@include fluid-page(24);
		margin: 0 auto;
		margin-bottom: 45px;
	}

	.body {
		p:first-of-type {
			margin-top: 0;
		}
	}

	&.with-label {
		.body {
			box-sizing: border-box;
			@include fluid-page(24);
			margin: 0 auto;
			background-color: $grey;
			padding: 23px 0;
			p {
				color: $grey;
				@extend .all-caps;
				@include font-benton-sans('regular');
				@include font-size(18px,20px);
				text-align: center;
				margin: 0;
			}
		}
		.module-list {
			padding-bottom: 20px;
			h4 {
				margin-top: 30px;
				margin-bottom: 0;
				@extend .all-caps;
				@extend .h5;
				@include font-size(14px,18px);
			}
			h5 {
				min-height: 0;
				@extend .all-caps;
				@include font-size(14px,18px);
				margin: 5px 0 10px 0;
			}
		}
	}
}


/***********************************/
/* MODULES */
/***********************************/
ul.module-list {
	list-style: none;
	@include fluid-page(24);
	margin: 0 auto;
	padding: 0;
	@include clearfix();
	.with-label & {
		background-color: $white;
	}

	@include responsive('lessthanlarge') {
		@include fluid-column(22,0,$grid-columns,0,true);
		@include fluid-offset-left(1);
	}
	
	li {
		background-color: $plat1;
		@include fluid-column(11,0,$grid-columns,0,true);
		@include fluid-offset-left(.5);
		@include fluid-offset-right(.5);
		margin-bottom: 40px;
		@include responsive('lessthanlarge') {
			@include fluid-column(21,0,22,0,false);
			margin: (100%/24);
			margin-top: 0;
		}
		.headlines {
			margin-bottom: 0;
			&:after {
				border: 0;
				width: auto;
				margin: 0;
			}
		}
		
		.with-label & {
			.cta {
				a {
					text-align: center;
					display: block;
					@extend .all-caps;
					color: #000;
					@include font-benton-sans('medium');
					@include font-size(14px,18px);
					.arrow-right {
						@extend .icon-carat;
					}
				}
			}
		}

		h4 {
			border: 3px solid $plat1;
			background: #e8e8e8;
			text-align: left;
			margin-bottom: 20px;
			padding-left: 31px;
			padding-right: 10px;
			color: $grey;
			text-transform: uppercase;
			@include font-benton-sans('light');
			@include font-size(24px,28px);
			padding-top: 12px;
			padding-bottom: 12px;
			.with-label & {
				background: none;
				color: $grey;
				line-height: normal;
			}
			@include responsive('small') {
				padding: 12px 0 12px 15px;
				@include font-size(15px,18px);
			}
		}
		h5, strong {
			color: $white;
			@include font-size(14px,20px);
			letter-spacing: -.01em;
			padding: 0 12px 0 31px;
			display: block;
			@include responsive('small') {
				margin-top: 0;
			}

		}
		p {
			@extend .body-2;
			color: $white;
			padding: 0 12px 0 31px;
			&:first-of-type {
				@include responsive('small') {
					margin-top: 0;
				}
			}
			@include responsive('small') {
				padding-left: 15px;
			}
		}
		.cta {
			padding: 0 12px 20px 31px;
			a {
				text-transform: uppercase;
				color: #000;
				@include font-size(14px);
				@include font-benton-sans('medium');
				.arrow-right {
					display: inline-block;
					margin-left: 5px;
					@include arrow('right',4px,#000);
				}
			}
			@include responsive('small') {
				padding-left: 15px;
			}
		}
	}
	&.promo-group-3 {
		li {	
			@include fluid-column(7,0,24,0,true);
			@include fluid-offset-left(.5);
			@include fluid-offset-right(.5);
		}
	}

	&.promo-group-2, 
	&.promo-group-3 {
		li {
			@include responsive('lessthanlarge') {
				@include fluid-column(21,0,22,0,false);
				margin: (100%/24);
				margin-top: 0;
			}
		}
	}
}


/***********************************/
/* Banner Multi Action */
/***********************************/
@import 'gcp-platinum-card/modules/banner-multi-action';


/**************************************/
/* Promo Multi Action */
/**************************************/
@import 'gcp-platinum-card/modules/promo-multi-action';

/***********************************/
/* Ribbon Promo */
/***********************************/	
@import 'gcp-platinum-card/modules/ribbon-promo';


/***********************************/
/* CONTACT AREA */
/***********************************/
@import 'gcp-platinum-card/modules/contact';

/***********************************/
/* MOBILE FOOTER */
/***********************************/
.mobile-footer {
	display: none;
	z-index: 10000;
	bottom: 0;
	position: fixed !important;
	width: 100%;
	ul {
		@include no-bullets();
		margin: 10px 0 0 0;
		padding: 0;
		li {
			width: 50%;
			float: left;
			a {
				display: block;
				width: 100%;
				padding: 10px 0;
				background: $grey;
				text-align: center;
				@extend .all-caps;
				color: $white;
				@include font-size(13px,13px);
				letter-spacing: .08em;
				&.plat {
					background: $plat1;
				}
			}
		}
	}
	@include responsive(small){ 
		display: block;
	}
}


/***********************************/
/* TABS */
/***********************************/
@import 'gcp-platinum-card/modules/tabs';


/***********************************/
/* OFFERS PAGE */
/***********************************/
@import 'gcp-platinum-card/pages/offers';



/***********************************/
/* BACK TO TOP */
/***********************************/

.tabbed-promo, 
.promo-group-content {
	@extend .rel;
	> div.cta {
		display: none;
		position: absolute;
		a {
			@extend .backtotop;
		}
		@include responsive('small') {
			display: block;
			width: 100%;
			top: 0;
			padding: 15px 0;
		}
	}
}

.promo-featured-addtl-text {
	> .primary-content {
		@extend .rel;
		div.cta {
			display: none;
			position: absolute;
			@include responsive('small') {
				display: block;
				width: 100%;
				top: 0;
				padding: 15px 0;
			}
		}
	}
	p.disclaimer {
		@include font-size(12px);
		text-align: right;
		@include responsive ('med') {
			@include grid-offset-right(1);
			clear: both;
			text-align: right;
		}
	}
 }

 
/***********************************/
/* Card Benefits Page */
/***********************************/
@import 'gcp-platinum-card/pages/card-page-b';

