#subHeaderWrapper {
	width: 100%;
	background-color: $white;
	padding: 8px 0;
	min-height: 32px;
	&.is-stuck {
		@include responsive('morethansmall') {
			position: fixed;
			top: 0;
			z-index: 1001;
		}
		@include responsive('small') {
			position: static;
			top: auto;
			z-index: 0;
		}
		.oldie & {
			position: fixed;
			top: 0;
			z-index: 1001;
		}
	}
	@include responsive('small') {
		@include box-shadow(rgba(0,0,0,.45) 0 1px 5px);
		position: relative;
		z-index: 101;
	}
	.subHeader {
		@include fluid-column(8);
		a {
			@include sprite-background-image($sprite,icn-home,false,0,8);
			display: block;
			padding-left: 23px;
			text-decoration: none;	
			@include responsive('small') {
				background: none;
				padding: 0;
				color: $darkteal;
				width: 100%;
				line-height: 32px;
			}
		}
		span {
			@include font-size(12px,13px);
			@include font-benton-sans(bold);
			&:first-of-type {
				background: image-url('amex/gcp-logo.png') 0 0 no-repeat;
				width: 164px;
				br {
					display: none;
				}
			}
			color: $deepblue;
			display: block;
			height: 28px;
			padding-top: 4px;
			text-transform: uppercase;
			text-indent: -9999px;
			&:first-line {
				@include font-benton-sans(medium);
				color: #000;
			}
			/* for CA-FR */
			&.alt {
				color: $grey;
				font-weight: normal;
				@include font-size(16px,16px);
				text-indent: 0;
				background: none;
				width: auto;
				margin: 0;
				padding: 0;
				br {
					display: block;

					@include responsive('small') {
						display: none;
					}
				}
				&:first-line {
					color: #002663;
					font-weight: bold;
				}
			}
			@include responsive('small') {
				@include font-size(12px, 15px);
				&:first-of-type {
					background: none;
					display: inline; 
				}
				color: $darkteal;
				@include font-benton-sans(medium);
				&:first-line {
					color: $darkteal;
					@include font-benton-sans(medium);
				}
				br {
					display: none;
				}
			}
		}
		@include responsive('small') {
			@include fluid-column(24);
			text-align: center;
			padding: 0;
		}
	}
	.extra-content {
		@include fluid-column(15);
		float: right;
		margin: 0;
		text-align: right;
		@include responsive('small') {
			display: none;
		}
		p {	
			display: inline-block;
			@include font-size(12px);
			margin: 0 5px;
		}

		select {
			border: 1px solid #a5b3b4;
			@include border-radius(3px);
			padding: 6px 16px;
			color: $crow;
			@include font-size(12px);
			@include font-benton-sans('regular');
			&:focus {
				outline-color: $lightteal;
			}
		}
	}
	.btn {
		margin-right: 4px;
		&.request {
			@include btn($sqrl,#a7a6a9,$white,small);
			&.green {
				@include btn($lightgreen, lighten($lightgreen, 5%), $white, small);
			}
		}
		&.apply {
			@include btn($deepblue,#1d4f9c,$white,small);
		}
	}
}


/* Turn this off for CA-FR */
&.fr.gcp-ca2 {
	#subHeaderWrapper .subHeader span:first-of-type {
		width: auto;
		background: none;
	}
}

