// ==|== non-semantic helper classes ========================================
//   Please define your styles before this section.
// ==========================================================================

//////////////////////////////////////
// IMAGE REPLACEMENT
//////////////////////////////////////
.ir {
	display: block;
	border: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
	
	br {
		display: none;
	}
}

//////////////////////////////////////
// HIDDEN
//////////////////////////////////////
// Hide from both screenreaders and browsers: h5bp.com/u 
.hidden {
	display: none !important;
	visibility: hidden;
}


//////////////////////////////////////
// MEDIA QUERY HELPERS
//////////////////////////////////////
.show-only-small {
	display: none;
	@include responsive(small) {
		display: block;
	}
}

.show-only-ltl{
	display: none;
	@include responsive(lessthanlarge) {
		display: block;
	}
}


//////////////////////////////////////
// VISUALLY HIDDEN
//////////////////////////////////////
// Hide only visually, but have it available for screenreaders: h5bp.com/v 
.vh {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	//////////////////////////////////////
	// ...FOCUSABLE
	//////////////////////////////////////
	// Extends the .vh class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p 
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}


//////////////////////////////////////
// INVISIBLE
//////////////////////////////////////
// Hide visually and from screenreaders, but maintain layout 
.invisible {
	visibility: hidden;
}

//////////////////////////////////////
// CLEARFIX
//////////////////////////////////////
// Contain floats: h5bp.com/q 
.clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	*zoom: 1;
}

//////////////////////////////////////
// POSITIONING
//////////////////////////////////////
.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.fixed {
	position: fixed;
}

.centered {
	text-align: center;
}

%inlineblock{
	display: inline-block;
}

.icon-carat {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: image-url('gcp-cm-card-page/sprite/carat-default.png') bottom center no-repeat;
}

i.divider {
	display: inline-block;
	width: 4px;
	height: 15px;
	@include getColor(1,'background-color');
	margin: 0 7px;
	@include border-radius(15px);
	vertical-align: middle;
	@include responsive('small') {
		display: block;
		height: 0px;
		background: none;
	}
}

//////////////////////////////////////
// THEME COLOR HELPER CLASSES
//////////////////////////////////////

.color-one {
	@include getColor(1);
}

.color-two {
	@include getColor(2);
}

.color-three {
	@include getColor(3);
}

.color-four {
	@include getColor(4);
}

