//////////////////////////////////////
// BASE SETTINGS
//////////////////////////////////////
$base-font-size: 16px;


//////////////////////////////////////
// COLORS
//////////////////////////////////////
$white: #fff;
$grey: #4d4f53;
$med-grey:#8a8a8a;
$form-grey:#717073;
$light-grey: #ccc;
$green: #45a23f;
$blue: #007699;
$blue-dark: #002663;
$grey-bg: #f5f5f5;
$purple:#862175;

// Grid
$column-width: 30px;
$gutter-width: 10px;
$columns: 24;

// Pie
// $pie-behavior: url("css/PIE.htc");

// SVG Gradients for IE9 and some versions of Opera.
//$experimental-support-for-svg: true;